@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #ffffff;
}
/* body {
  color: #ffffff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style:;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "Roboto";
}
 */
/* .about-section h1 {
  padding: 2rem 0;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.about-section {
  padding: 1rem;
  /* text-align: center; */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-bottom: 0rem;
} */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}


@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--mockup1 {
  background-image: url(Images/133662ea90ad57f561721c9729b947d5httpswww.pinterest.com.au-pin-838725130591677357.png);
}
.card__image--mockup2 {
  background-image: url(Images/pngwing.com.png);
}
.card__image--flowers {
  background-image: url(Images/pngwing.com4.png);
}
.card__image--river {
  background-image: url(Images/perspective-website-psd-mock-up-144-www.graphberry.com-item-perspective-website-psd-mock-up.avif);
}
.card__image--record {
  background-image: url(Images/homepage-seen-computer-screen.jpg);
}
.card__image--fence {
  background-image: url(Images/amortech-web-design-fairway-web-mockup-full-Large.jpg);
}
.card__title {
  color: #4b4b4b;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: #000000;
}
/* client logo list */
