@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 2rem;
  background-color: rgb(157, 42, 42);
} */

body {
  font-family: Roboto;
  line-height: 1.4;
  font-size: 17px;

}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
a {
  color: #08c;
  font-weight: bold;
  text-decoration: none;
}
.hentry {
  max-width: 40em;
  margin: auto;
}
.entry-title {
  grid-area: header;

  text-transform: uppercase;
  margin: 2rem 0;
  line-height: 2;
}
.featured-image {
  grid-area: featimg;
}
.entry-meta {
  grid-area: meta;
  margin-bottom: 2em;
}
.entry-content {
  grid-area: content;
}
.entry-footer {
  grid-area: footer;
  text-align: right;
  border-top: 1px solid #ffffff;
  margin-top: 1em;
}
.author .date {
  color: #777;
}
.author.date:before {
  content: " | ";
}
.author {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 40em) {
  .hentry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: "header header header header" "meta meta meta meta" "featimg featimg featimg featimg" "content content content content" "footer footer footer footer";
  }
  .entry-title {
    font-size: 2.5em;
    margin-bottom: 0;
  }
}
@media (min-width: 50em) {
  .hentry {
    grid-template-areas: "header header header header" "featimg featimg featimg featimg" "meta content content content" "footer footer footer footer";
  }
  .author,
  .date {
    display: block;
    margin: 1em 0;
  }
  .author.date:before {
    display: none;
  }
  .entry-title {
    font-size: 3m;
    margin-bottom: 0.7em;
  }
}
.PrevNext {
  font-size: 12px;
}
.PrevNext a,
.PrevNext a:visited {
  background-color: rgb(219, 219, 219);
  /* box-shadow: 1px 1px #7b7b7b; */
  border-radius: 5px;
  color: #000000;
  padding: 2px;
  margin: auto;
  text-decoration: none;
  margin-top: rem;
}
.PrevNext a:hover {
  background-color: #ececec;
  box-shadow: 2px 2px #08c;
}
.box {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
}
